<header
class="relative mx-auto flex h-16 max-w-[1200px] items-center justify-between px-5"
>
<a href="index.html">
  <img
    class="cursor-pointer h-16 w-20"
    src="assets/elite-logo.png"
    alt="company logo"
  />
</a>

<div class="md:hidden">
  <button (click)="mobile()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-8 w-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
  </button>
  <div *ngIf="desktopMenuOpen" class="absolute top-12 right-2 z-10 p-6 rounded bg-blue-700 flex flex-col gap-3 ">
    <a
      class="font-light text-white transition-all duration-500 hover:text-blue-600 "
      href="index.html"
      >Home</a
    >
    <a
      class="cursor-pointer font-light text-white transition-all duration-500 hover:text-blue-600 "
      
      (click)="goToFactures()"
      >Factures</a
    >
    <a
      class="cursor-pointer font-light text-white transition-all duration-500 hover:text-blue-600 "
      (click)="goToBons()"
      >Bons</a
    >
    <a
      class="font-light text-white transition-all duration-500 hover:text-blue-600 "
      href="contact-us.html"
      >Contact Us</a
    >
  </div>
</div>

<div class="hidden h-9 w-2/5 items-center border md:flex rounded overflow-hidden">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="mx-3 h-4 w-4"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
    />
  </svg>

  <input
    class="hidden w-11/12 outline-none md:block"
    type="search"
    placeholder="Search"
  />

  <button class=" ml-auto h-full bg-amber-400 px-4 hover:bg-yellow-300">
    Search
  </button>
</div>

</header>