<section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">

<ng-container *ngIf="step==0">
    <h2 class="text-lg mb-5 font-semibold text-gray-700 capitalize dark:text-white">Create BONS</h2>


    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <div>
            <label class="text-gray-700 dark:text-gray-200" for="username">Date</label>
            <input [(ngModel)]="champDate" type="date"  placeholder="Date" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">    
        </div>

        
        <div *ngFor="let champ of champs">
          <div class="flex justify-between">
            <label class="text-gray-700 dark:text-gray-200" for="">{{champ}} </label>
            <span (click)="deleteChamp(champ)" class="cursor-pointer mr-3 transition-all duration-200 text-gray-600 bg-gray-200 rounded-full hover:bg-gray-500 text-base px-2 font-semibold font-sans ">X</span>
          </div>
            <input [(ngModel)]="champBonsQnt[champ]" type="text" placeholder="Quantite" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            <input [(ngModel)]="champBonsPrice[champ]" type="text" placeholder="Prix" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
        </div>


       
    </div>
    <div class="flex justify-between mt-10">
        <div class="flex w-3/4">
            <input [(ngModel)]="newChamp" type="text" placeholder="Saisir votre champ" class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            <button [disabled]="newChamp=='' " (click)="addChamp()" class="px-5 mx-2  text-white transition-colors duration-300 transform bg-blue-400 rounded-md disabled:bg-gray-300   hover:bg-blue-300 focus:outline-none whitespace-nowrap">Ajouter un champ</button>
        </div>

        <button (click)="nextStep()" [disabled]="champs.length==0 || champDate==undefined" class="px-8 disabled:bg-gray-300 text-white transition-colors duration-300 transform bg-blue-700 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Suivant</button>
    </div>
</ng-container>


<ng-container *ngIf="step==1">

    <div class="flex justify-between mt-5 h-10">
      
      <button  (click)="previousStep()" class="px-5 mx-2  text-white transition-colors duration-300 transform bg-gray-400 rounded-md  hover:bg-gray-300 focus:outline-none whitespace-nowrap">précédent</button>
      

      <button (click)="stock()" class="px-8   text-white transition-colors duration-300 transform bg-blue-700 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Stocker</button>
  </div>


    <div class="max-w-3xl mx-auto p-6 bg-white rounded shadow-sm my-6" id="invoice">

      <div class="grid grid-cols-6 items-center">
              
        <div class="text-left col-span-3">
          <p class="font-semibold pb-3">
            {{champsTitleValue["Name"]}}
          </p>
          <p class="text-gray-500 text-sm">
            {{champsTitleValue["Adresse"]}}
          </p>
          <p class="text-gray-500 text-sm mt-1">
            {{champsTitleValue["Tel/Fax"]}}
          </p>
          <p class="text-gray-500 text-sm mt-1">
            <span class="text-black  ">RCN :</span>{{champsTitleValue["RCN"]}} <span class="text-black  "> / NIF :</span>  {{champsTitleValue["NIF"]}}
          </p>
        </div>
        <div class="col-span-2 h-full">
          <p class="text-gray-500 text-sm pb-10">
            Date : {{champDate | date:'dd/MM/yyyy'}}
          </p>
          <p class="text-gray-500 text-sm">
            <span class="text-black  ">Declaration:</span> {{champsTitleValue["Declaration"]}}
          </p>
          
        </div>
        <div class="col-span-1">
          <!--  Company logo  -->
          <img class="ml-auto" src="assets/elite-logo.png" alt="company-logo" height="100" width="100">
        </div>


      </div>
    

    
      <!-- Invoice Items -->
      <div class="-mx-4 mt-8 flow-root sm:mx-0">
        <table class="min-w-full">
          <colgroup>
            <col class="w-full sm:w-1/2">
            <col class="sm:w-1/6">
            <col class="sm:w-1/6">
            <col class="sm:w-1/6">
          </colgroup>
          <thead class="border-b border-gray-300 text-gray-900">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Items</th>
              <th scope="col" class="hidden px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:table-cell">Quantity</th>
              <th scope="col" class="hidden px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:table-cell">Price</th>
              <th scope="col" class="py-3.5 pl-3 pr-4 text-right text-sm font-semibold text-gray-900 sm:pr-0">Amount</th>
            </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let champ of champs">
            <tr class="border-b border-gray-200">
              <td class="max-w-0 py-2 pl-4 pr-3 text-sm sm:pl-0">
                <div class="font-medium text-gray-900">{{champ}}</div>
              </td>
              <td class="hidden px-3 py-2 text-right text-sm text-gray-500 sm:table-cell">{{champBonsQnt[champ]||1}}</td>
              <td class="hidden px-3 py-2 text-right text-sm text-gray-500 sm:table-cell">{{champBonsPrice[champ]||0}}</td>
              <td *ngIf="champBonsPrice[champ]!=0" class="py-2 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-0">{{(champBonsPrice[champ]||0)*(champBonsQnt[champ]||1)}} DA</td>
              <td *ngIf="champBonsPrice[champ]==0" class="py-2 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-0">--</td>
            </tr>
          </ng-container>
          </tbody>
          <tfoot>
    
            <tr>
              <th scope="row" colspan="3" class="hidden pl-4 pr-3 pt-4 text-right text-sm font-semibold text-gray-900 sm:table-cell sm:pl-0">Total</th>
              <th scope="row" class="pl-6 pr-3 pt-4 text-left text-sm font-semibold text-gray-900 sm:hidden">Total</th>
              <td class="pl-3 pr-4 pt-4 text-right text-3xl font-semibold text-gray-900 sm:pr-0">{{total}}&nbsp;DA</td>
            </tr>
          </tfoot>
        </table>
      </div>
    
      <!--  Footer  -->
      <div class="border-t-2 pt-4 text-xs text-gray-500 text-center mt-16">
        Please pay the invoice before the due date. You can pay the invoice by logging in to your account from our client portal.
      </div>
    
    </div>
    

  </ng-container>
  </section>