nav{
    background-color: #003566;
}
button{
    // background-color: #ffd60a;
    color:white;
    transition: background-color 0.2s ease-in-out;

}
button:hover{
    color: #ffc300;

}

@media  (max-width: 600px) {
    

}