<nav class="relative bg-violet-900 rounded mx-3">
  
  
    <div
      class="mx-auto hidden h-12 w-full max-w-[1200px] items-center md:flex"
    >


      <div class="mx-auto flex gap-8">
        <a
          class="font-light text-white transition-all duration-300 hover:text-blue-400 "
          href="index.html"
          >Home</a
        >
        <a
          class="cursor-pointer font-light text-white transition-all duration-300 hover:text-blue-400 "
          
          (click)="goToFactures()"
          >Factures</a
        >
        <a
          class="cursor-pointer font-light text-white transition-all duration-300 hover:text-blue-400 "
          (click)="goToBons()"
          >Bons</a
        >
        <a
          class="font-light text-white transition-all duration-300 hover:text-blue-400 "
          href="contact-us.html"
          >Contact Us</a
        >
      </div>

  
    </div>
  </nav>
