<section class="container px-4 mx-auto">
    <div *ngIf="filterFlag" class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-3">
        <div>
        <label class="text-gray-700 dark:text-gray-200" for="username">Filtre par N°</label>
        <input [(ngModel)]="filterNumber" type="text" placeholder="Saisir le Numero de Bons a Rechercher..." class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">    
        </div>
        <div>
        <label class="text-gray-700 dark:text-gray-200" for="username">Filtre par Date</label>
        <input [(ngModel)]="filterDate" type="Date" placeholder="Saisir le nom du Bons" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">     
        </div>
        <div class="flex flex-col gap-y-1">
          <button (click)="filter()"  class=" text-center w-24 h-8  disabled:bg-gray-300 text-white transition-colors duration-300 transform bg-blue-700 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Filtre</button>
          <button (click)="Reset()"  class=" text-center w-24 h-8  disabled:bg-gray-300 text-white transition-colors duration-300 transform bg-blue-700 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Reset/Close</button>
  
        </div>
        
    </div>
    <ng-container *ngIf="!filterFlag" >
        <button (click)="filterFlag=true"  style="color: #003566;" class=" text-center w-48 h-8  transition-colors duration-300 transform  hover:text-blue-600  ">Ouvrir le filtre --></button>
    </ng-container>
    <div class="flex flex-col mt-6">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead class="bg-gray-50 dark:bg-gray-800">
                            <tr>
                                <th scope="col" class="px-3 py-3.5 text-sm font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                                    Bons N°
                                </th>
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <div class="flex items-center gap-x-3">
                                        <span>Nom du Bon</span>
                                    </div>
                                </th>
                                
                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Date
                                </th>
                                <th scope="col" class="px-3 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Total
                                </th>

                                <th scope="col" class="relative py-3.5 px-4">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                           <ng-container *ngFor="let bon of Bons">
                            <tr>
                                <td class="px-3 py-4 text-sm text-center font-normal text-gray-700 whitespace-nowrap">
                                    {{bon.id}}
                                </td>

                                <td class="px-4 py-4 text-sm font-medium text-gray-700 w-96 truncate">
                                    

                                        <div class="flex items-center gap-x-2  w-96 truncate">
                                            <div>
                                                <h2 class="font-normal text-gray-800 dark:text-white truncate">{{bon.name}}</h2>
                                            </div>
                                        </div>
                                   
                                </td>
                                
                                <td  class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">{{bon.date }}</td>

                                <td  class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">{{bon.total }} DA</td>

                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <button 
                                    (click)="goToBons(bon.id)"
                                    class="px-4 py-2 font-medium text-gray-600 transition-colors duration-200 sm:px-6 dark:hover:bg-gray-800 dark:text-gray-300 hover:text-blue-400">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 sm:w-6 sm:h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 3.75H6A2.25 2.25 0 003.75 6v1.5M16.5 3.75H18A2.25 2.25 0 0120.25 6v1.5m0 9V18A2.25 2.25 0 0118 20.25h-1.5m-9 0H6A2.25 2.25 0 013.75 18v-1.5M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                    </button>
                                    <button 
                                    (click)="deleteBons(bon.id, bon.total)"
                                    class="px-4 py-2 text-gray-500 transition-colors duration-200 dark:hover:text-red-500 dark:text-gray-300 hover:text-red-500 focus:outline-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            </ng-container>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!filterFlag" class="flex items-center justify-center mt-6">
        <a (click)="previousStep()" class="text-center cursor-pointer w-24 px-2 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
            <span>
               << previous
            </span>
        </a>

        <div class="text-center w-24 px-2 py-1 text-lg text-gray-700 capitalize transition-colors duration-200 bg-white  rounded-md gap-x-2  dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
            {{page}}</div>
        
        <a (click)="nextStep()" class="text-center cursor-pointer w-24 px-2 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
            <span>
                Next >>
            </span>
        </a>
    </div>
</section>