/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

*{
    font-family: 'Hedvig Letters Serif', serif;
}

:root{
    --primary-color: #003566;
    --secondary-color-1: #ffc300;
    --secondary-color-2: #ffd60a;
}