<div class="mt-10 w-3/4 mx-auto mb-20">
  <h1 class="text-3xl font-semibold text-center mb-5">Transit Operation</h1>
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6">

      <div class="overflow-hidden cursor-pointer " [routerLink]="['/facture-create']" >
          <div class="relative rounded-2xl group overflow-hidden">
              <div>
                  <div class="overflow-hidden" >
                    <img src="assets/facture1.jpg" class="h-60  scale-[1.5] mx-auto group-hover:scale-[1.3]  transition-all duration-500" alt="">
                  </div>
                  <div class="bg-gray-50 p-3 pb-5 ">
                      <!-- <span class="text-base font-normal">total : 11</span> -->
                      <h3 class="text-xl font-semibold">Create Facture</h3>
                      <p>by <a href="aboutUs.html">Transit Operation</a></p>
                  </div>
              </div>
          </div>
      </div>

      <!-- <div class="overflow-hidden cursor-pointer" >
          <div class="relative rounded-2xl group overflow-hidden" >
              <div>
                  <div class="overflow-hidden">
                    <img src="assets/bon.png" class="h-60  scale-[1.3] group-hover:scale-[1.1] mx-auto transition-all duration-500" alt="">
                </div>
                  <div class="bg-gray-50 p-3 pb-5 ">
                      <span class="text-base font-normal">total : 3</span>
                      <h3 class="text-xl font-semibold">Factures Close</h3>
                      <p>by <a href="#">Transit Operation</a></p>
                  </div>
              </div>
          </div>
      </div> -->

      <div class="overflow-hidden cursor-pointer" [routerLink]="['/caisse']">
          <div class="relative rounded-2xl group overflow-hidden " >
              <div>
                  <div class="overflow-hidden">
                      <img src="assets/caisse.jpg" class="h-60  scale-[1.5] group-hover:scale-[1.3] mx-auto transition-all duration-500" alt="">
                  </div>
                  <div class="bg-gray-50 p-3 pb-5 ">
                      <!-- <span class="text-base font-normal">Montant :</span> -->
                      <h3 class="text-xl font-semibold">Caisse</h3>
                      <p>by <a href="#">Transit Operation</a></p>
                  </div>
              </div>
          </div>
      </div>
      <div class="overflow-hidden cursor-pointer" [routerLink]="['/bons']">
        <div class="relative rounded-2xl group overflow-hidden " >
            <div>
                <div class="overflow-hidden">
                    <img src="assets/client.jpg" class="h-60  scale-[1.5] group-hover:scale-[1.3] transition-all duration-500" alt="">
                </div>
                <div class="bg-gray-50 p-3 pb-5 ">
                    <!-- <span class="text-base font-normal">total :</span> -->
                    <h3 class="text-xl font-semibold">Create Bons</h3>
                    <p>by <a href="#">Transit Operation</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="overflow-hidden cursor-pointer" [routerLink]="['/clients']">
        <div class="relative rounded-2xl group overflow-hidden " >
            <div>
                <div class="overflow-hidden">
                    <img src="assets/client1.jpg" class="h-60 mx-auto scale-[1.5] group-hover:scale-[1.3] transition-all duration-500" alt="">
                </div>
                <div class="bg-gray-50 p-3 pb-5 ">
                    <!-- <span class="text-base font-normal">total :</span> -->
                    <h3 class="text-xl font-semibold">Create Client</h3>
                    <p>by <a href="#">Transit Operation</a></p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
